@model Shops.App.Models.Shop.UpdateShopModel

@{
    ViewData["Title"] = "Update Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-waves">
    <div class="card-header">
        Update Shop
    </div>
    <div class="card-body">
        <div class="datatable">
            <div class="row">
                <div class="col-lg-12">
                    <input hidden id="updateId" value="@Model.Id"/>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="e-input" placeholder="Enter name" value="@Model.Name" id="updateName">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="e-input" placeholder="Enter Address" value="@Model.Address" id="updateAddress">
                    </div>
                    <button type="submit" onclick="updateModel()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function updateModel() {
        let id = document.getElementById("updateId");
        let name = document.getElementById("updateName");
        let address = document.getElementById("updateAddress");
        if(name.value == "" || address.value == "")
        {
            alert("Enter data in fields");
            return;
        }
        var model = {
            Id: parseInt(id.value),
            Name: name.value,
            Address: address.value
        }
        fetch(`/Shop/Update`, {
          method: 'PUT', // or 'PUT'
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(model),
        })
        .then((response) => window.location.href = "/Shop/index")
    }
</script>