@model Shops.App.Models.Product.CreateProductOpenModel

@{
    ViewData["Title"] = "Create Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-waves">
    <div class="card-header">
        Create Product
    </div>
    <div class="card-body">
        <div class="datatable">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="e-input" placeholder="Enter name" id="createName">
                    </div>
                    <div class="form-group">
                        <label>Color</label>
                        <input type="text" class="e-input" placeholder="Enter Color" id="createColor">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="e-input" placeholder="Enter Price" id="createPrice">
                    </div>
                    <div class="form-group">
                        <label>Shop</label>
                        <ejs-dropdownlist id="createShop" dataSource="Model.Shops">
                            <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                    <button type="submit" onclick="createModel()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function createModel() {
        let name = document.getElementById("createName");
        let color = document.getElementById("createColor");
        let price = document.getElementById("createPrice");
        let shopId = document.getElementById("createShop").ej2_instances[0];
        if(name.value == "" || color.value == "" || price.value == "" || shopId.value == "")
        {
            alert("Enter data in fields");
            return;
        }
        var model = {
            Name: name.value,
            Color: color.value,
            Price: parseFloat(price.value),
            ShopId: shopId.value
        }
        fetch(`/Product/Create`, {
          method: 'POST', // or 'PUT'
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(model),
        })
        .then((response) => window.location.href = "/Product/index")
    }
</script>